:root {
    --theme-color: #1e90ff;
}

/* CSS styling for the main things in the website. */

body {
    /* I give up for using a custom font (Quicksand), it won't use that font on some browsers/devices. Now it uses system fonts to save some of your bandwidth. */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    
    margin: auto;

    background: rgb(15,48,78);
    background: -moz-linear-gradient(45deg, rgba(15, 48, 78) 0%, rgba(0,74,153,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(15,48,78,1) 0%, rgba(0,74,153,1) 100%);
    background: linear-gradient(45deg, #0f304e 0%, rgba(0,74,153,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f304e",endColorstr="#004a99",GradientType=1); 
    background-repeat: repeat;
    background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
p {
    text-align: center;
    color: #cce6ff;
}

img {
    display: block;
    margin: 0 auto;
    border: 0;
}

hr {
    width: 50%;
    text-align: center;
    margin: auto;
    border: 2px solid #80c1ff;
    border-radius: 2px;
}

a:link {
    color: #80bfff;
}

a:visited {
    color: #458ad0;
}

a:hover {
    color: #458ad0;
}

a:active {
    color: #1e90ff;
}
