/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #cce6ff #0f304e;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #0f304e;
}

*::-webkit-scrollbar-thumb {
  background-color: #cce6ff;
  border-radius: 20px;
  border: 3px solid #0f304e;
}
