/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: dodgerblue;
  border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: babyblue; 
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkblue; 
}
