/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff00; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0784b5; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #39ace7; 
}
